# personal shell aliases
alias gap='git add -p'
alias gbr='git branch'
alias grbc='git rebase --continue'
alias ....='cd ../../..'
alias yi='yarn install'
alias topcpu='ps aux | sort -k 3 -r | head -10'
alias recent='ls -ltc | head'
alias dprune='docker system prune -af'
