# personal shell aliases
alias gap='git add -p'
alias gbr='git branch'
alias grbc='git rebase --continue'
alias ....='cd ../../..'
alias yi='yarn install'
alias topcpu='ps aux | sort -k 3 -r | head -10'
alias recent='ls -ltc | head'
alias dprune='docker system prune -af'
alias myip='curl -s ifconfig.me'
alias kex='kubectl exec -it'
alias gpf='git push --force-with-lease'
alias kdp='kubectl describe pod'
alias grb='git rebase'
alias tf='terraform'
alias zshrc='$EDITOR ~/.zshrc'
alias ports='lsof -i -P -n | grep LISTEN'
alias nstart='npm start'
