# personal shell aliases
alias gap='git add -p'
alias gbr='git branch'
alias grbc='git rebase --continue'
alias ....='cd ../../..'
alias yi='yarn install'
alias topcpu='ps aux | sort -k 3 -r | head -10'
alias recent='ls -ltc | head'
alias dprune='docker system prune -af'
alias myip='curl -s ifconfig.me'
alias kex='kubectl exec -it'
alias gpf='git push --force-with-lease'
alias kdp='kubectl describe pod'
alias grb='git rebase'
alias tf='terraform'
alias zshrc='$EDITOR ~/.zshrc'
alias ports='lsof -i -P -n | grep LISTEN'
alias nstart='npm start'
alias topmem='ps aux | sort -k 4 -r | head -10'
alias dcl='docker-compose logs -f'
alias countf='find . -type f | wc -l'
alias now='date '+%Y-%m-%d %H:%M:%S''
alias py='python3'
alias g='git'
alias k='kubectl'
alias gp='git push'
alias ll='ls -lah'
alias grh='git reset --hard'
alias ssh-list='grep '^Host' ~/.ssh/config'
alias gd='git diff'
alias dirsize='du -h --max-depth=1 | sort -h'
alias ys='yarn start'
alias yr='yarn run'
alias reload='source ~/.zshrc'
alias upgrade-pip='pip install --upgrade pip'
alias clean-ds='find . -name '.DS_Store' -delete'
alias gcb='git checkout -b'
alias nrun='npm run'
alias d='docker'
alias activate='source .venv/bin/activate'
alias vim='nvim'
alias gpl='git pull'
alias kgn='kubectl get nodes'
alias gco='git checkout'
alias ntest='npm test'
alias gcm='git commit -m'
alias dcu='docker-compose up -d'
alias biggest='du -ah . | sort -rh | head -20'
alias diskfree='df -h'
alias flush-dns='sudo dscacheutil -flushcache'
alias path='echo -e ${PATH//:/\\n}'
alias dcd='docker-compose down'
alias ga='git add'
alias vimrc='$EDITOR ~/.vimrc'
alias venv='python3 -m venv .venv'
alias weather='curl wttr.in'
alias ..='cd ..'
alias ungz='gunzip'
alias e='exit'
alias ts='date +%s'
alias countd='find . -type d | wc -l'
alias publicip='dig +short myip.opendns.com @resolver1.opendns.com'
alias la='ls -A'
alias lh='ls -lah | head -20'
alias yt='yarn test'
alias tfd='terraform destroy'
alias ninst='npm install'
alias gca='git commit -am'
alias tfp='terraform plan'
alias l='ls -CF'
alias tfa='terraform apply'
alias di='docker images'
alias kgs='kubectl get svc'
alias dpsa='docker ps -a'
alias grbi='git rebase -i'
alias dc='docker-compose'
alias h='history'
alias dps='docker ps'
alias gfa='git fetch --all --prune'
alias ...='cd ../..'
alias brewup='brew update && brew upgrade && brew cleanup'
alias uuid='uuidgen | tr '[:upper:]' '[:lower:]''
alias c='clear'
alias gst='git stash'
alias gs='git status'
alias gbra='git branch -a'
alias untar='tar -xvf'
alias aliases='$EDITOR ~/.aliases'
alias pip='pip3'
alias v='nvim'
alias gstp='git stash pop'
alias gcom='git commit'
alias klogs='kubectl logs -f'
alias glog='git log --oneline --graph --decorate'
alias grba='git rebase --abort'
alias kgp='kubectl get pods'
