[user]
	name = Adithya Kumar
	email = adithya.shak.kumar@gmail.com
[alias]
	uncommit = reset --soft HEAD^
	br = branch
	aliases = config --get-regexp alias
	last = log -1 HEAD
[push]
	autoSetupRemote = true
	default = simple
[merge]
	conflictstyle = zdiff3
[diff]
	algorithm = histogram
[pull]
	rebase = true
