[user]
	name = Adithya Kumar
	email = adithya.shak.kumar@gmail.com
[alias]
	uncommit = reset --soft HEAD^
	br = branch
	aliases = config --get-regexp alias
[push]
	autoSetupRemote = true
	default = simple
[merge]
	conflictstyle = zdiff3
