[user]
	name = Adithya Kumar
	email = adithya.shak.kumar@gmail.com
[alias]
	uncommit = reset --soft HEAD^
	br = branch
	aliases = config --get-regexp alias
	last = log -1 HEAD
	lg = log --oneline --graph --decorate --all
	unstage = reset HEAD --
	amend = commit --amend --no-edit
	ci = commit
[push]
	autoSetupRemote = true
	default = simple
[merge]
	conflictstyle = zdiff3
[diff]
	algorithm = histogram
[pull]
	rebase = true
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
	editor = nvim
[init]
	defaultBranch = main
[rerere]
	enabled = true
[color]
	ui = auto
